{% extends 'base.html' %}
{% load static %}
{% block body %}

<img class="img-thumbnail mx-auto d-block"  src="{{ profile.avatar.url}}" alt="Card image cap">
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ profile.user }}</h5>
    <p class="card-text">{{ profile.bio }}</p>
      {% for i in address %}
        <a href="{{i.link}}">{{ i.link }}</a>
    {% endfor %}
  </div>
</div>


<h3>posts from user</h3>
    <div class="card-group">
        {% for posts in person.seller.servicepost.all %}
      <div class="card">
      {% if  posts.postImage %}
        <img class="card-img-top" src="{{ posts.postImage.url }}" alt="Card image cap">
      {% endif %}
          <div class="card-body">
          <p class="card-text"> {{ posts.postText }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ posts.postCreated }}</small>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}