{% extends 'templates/base.html' %}
{% load ratings %}

{% block body %}
    <style>
    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    </style>
            {% for p in posts %}
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'accounts:profile' p.postby.id%}">{{ p.postby }}</a></p>
                    </div>
                    {% if p.image %}
                        <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                    <p class="card-text">desc : {{ p.postText }}</p>
                    <p class="card-text">price : {{ p.price }}</p>
                    </div>
                    <div class="card-footer">
                        {% ratings p %}
                    </div>
                </div>
                <br>
                <br>
            {% endfor %}

    {% if not posts %}
        <div class="card">
            <p class="card-text"> your feed is empty follow some accounts</p>
            {% for i in some_users %}
                <div class="card">
                    <p class="card-text">i</p>
                    <a class="btn-primary" href="{% url 'core:follow' i.id %}">Follow</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}