{% extends 'templates/base.html' %}
{% load ratings %}

{% block body %}
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    {% if posts %}
        {% for p in posts %}
        <div class="card" style="width: 18rem;">
            <p class="card-text">post by : {{ p.postby }}</p>
            {% if p.image %}
                <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
            <p class="card-text">desc : {{ p.postText }}</p>
            <p class="card-text">price : {{ p.price }}</p>
                {% ratings p %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}