{% extends 'templates/base.html' %}
{% load ratings %}

{% block body %}
    <style>
    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    </style>
            {% for p in posts %}
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'accounts:profile' p.postby.id%}">{{ p.postby }}</a></p>
                    </div>
                    {% if p.image %}
                        <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                    <p class="card-text">desc : {{ p.postText }}</p>
                    <p class="card-text">price : {{ p.price }}</p>
                    </div>
                    <div class="card-footer">
                        {% ratings p %}
                    </div>
                </div>
                <br>
                <br>
            {% endfor %}

    {% if  posts %}
            <p class="text-info"> your feed is empty, follow some services....</p>
            {% for i in some_users %}
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header">{{ i }}</div>
                    <div class="card-body">
                    <p class="card-text">{{ i.desc_snippet }}</p>
                    <form method="get" action="{% url 'core:follow' i.id %}">
                        <input type="submit" class="btn btn-primary" value="Follow" name="Follow">
                    </form>
                  </div>
                </div>
            {% endfor %}
    {% endif %}
{% endblock %}