{% extends 'templates/base.html' %}
{% load ratings %}

{% block body %}
    <style>
    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    /*
    #E27D60
    #85cfdc
    */
    .card-header{
        background-color:  #E27D60;
        border-radius: 25px ;
        border-color:  #E27D60;
        border-width: 3px;
    }
    .card-body{
        background-color:  #E27D60;
    }
    .card{
        border-radius: 25px ;
        border-color:  #E27D60;
        border-width: 5px;
        background: rgba(255, 255, 255, 0);
    }
    </style>
        {% for s in services %}
        <div class="card mx-auto"  style="width: 50rem;">
            <div class="card-header m-2">
                <a href="{% url 'accounts:profile' s.user.id%}">{{ s.Service_name }}</a></p>
                {% if s.avi %}
                    <img class="card-img-top avatar img-circle" src="{{s.avi.url}}" alt="Card image cap">
                {% endif %}
            </div>
            <div class="card-body text-white">
                <p class="card-text">desc : {{ s.description }}</p>
                <p class="card-text">created : {{ s.createDate }}</p>
            </div>
        </div>
        {% endfor %}
{% endblock %}